# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# JUPYTER NOTEBOOKS
# =========================
.ipynb_checkpoints/

# =========================
# ENTORNO / VARIABLES
# =========================
.env

# =========================
# ARCHIVOS DEL SISTEMA
# =========================
.DS_Store
Thumbs.db

# =========================
# DATOS (opcional)
# =========================
*.csv
*.sqlite

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# LOGS
# =========================
*.log
